
span,
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.open {
    color: rgb(114, 32, 32);
    font-size: 30px;
    float: left;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 1em;
    cursor: pointer;
    display: block;
    
}
.open:hover {
    opacity: 0.8;
}


/*Tutorial Code*/

.nav {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    background-color: rgba(27, 28, 29, 0.95);
    transition: 0.3s;
    display: block;
    overflow-x: hidden;
    
}
.nav a {
    clear: left;
    color: white;
    display: block;
    text-decoration: none;
    font-size: 22px;
    transition: 0.1s;
    padding: 0.5em;
}
.nav a:not(:first-child):hover {
    background-color: #f7941d;
}
.close {
    float: left;
    font-size: 30px;
    margin: 1em 0 0 1em;
}

hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}














